.HomePageContainer {
    background-color: #282a36;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    z-index: -1;
    overflow: auto;
}

.CenterContentPage {
    color: white;
    align-items: center;
    text-align: center;
}

.HomePageCV {
    color: white;
    position: relative;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}