body {
  max-width: 700px;
  color: #424242;
  line-height: 1.6;
  padding-top: 20px;
  padding-left: 28px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 11pt;
  margin: auto;
  width: 83%;
  padding: 10px;
}

h1, h2, h3, h4, h5 {
  font-size: 15pt;
  color: #000000;
}

header h3{
  font-size: 3em;
}

a  {
  text-decoration: none;
  -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  font-weight: 500;
}

.funFact {
  color: #0354bc;
}

a.footer {
  padding-right: 8px;
}

p {
  font-size: 1em;
}

a:link, a:visited {
  color: #0354bc;
}

a:hover, a:active {
  color: #888;
}
