.list {
  text-align: left;
}

.item {
  margin-bottom: 20px;
  padding-left: 20px;
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
}

img {
  height: 45px;
  width: 45px;
  padding: 10px;
}

.ListHeader {
  display: 'block';
  margin: 10px;
}

a {
  color: gold;
}